.homeHero {
    height: 100vh;
    width: 100%;
    margin: 0px;
    transition: all 0.5s ease-out 1.2s;
}

.homeHero.loaded {
    /* height: calc(100vh - 25px); */
    /* width: calc(100% - 25px); */
    /* margin: 12.5px; */
}

.heroContainer {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  background: #999D9E;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.heroContainer img {
  height: 97%;
  width: auto;
  z-index: 1;
  object-fit: contain;
}

/* first position absolute was on img not on h1 and the container was like flex with just justify end because the h1 for end at bottom
now after suggetion with GPT it done this */


.heroContainer h1 {
    font-family: inter;
    /* font-size: 60px; */
    font-size: clamp(40px, 3.2vw, 70px);
    font-size: clamp(40px, 3.3vw, 70px);
    font-weight: 600;
    padding: 30px;
    width: 80%;
    color: white;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.heroSocials {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.heroSocials li a {
  color: white;
  font-size: 25px;
  font-size: clamp(18px, 1.55vw, 25px);
}

/* -----Responsive_Ness----- */

@media (max-width: 1024px) and (min-width: 600px){
    .homeHero.loaded {
        width: 100%;
        margin: 0px;
    }

    .heroContainer {
      border-radius: 0px !important;
    }

    .heroContainer h1 {
        font-size: clamp(30px, 6vw, 50px);
        padding: 50px 20px ;
        width: 100%;
    }
}

@media (max-width: 599px){
    .homeHero {
      height: 97vh;
    }

    .homeHero.loaded {
        width: 100%;
        height: 97vh;
        margin: 0px;
    }

    .heroContainer {
      width: 100% !important;
      height: 97vh !important;
      margin: 0 !important;
      border-radius: 0px !important;
      align-items: end;
    }

    
    .heroContainer img {
      height: 82%;
      width: auto;
      z-index: 1;
      /* object-fit: cover; */
      object-position: -5px 0px;
    }

    .heroContainer h1 {
        font-size: clamp(20px, 9vw, 40px);
        font-weight: 500;
        padding:55px 10px ;
        padding-right: 0;
        width: 100%;
    }
}