.aboutMeContainer {
    padding-top: 20px;
    width: calc(100% - 25px);
    margin: auto;
}

.aboutMeContent{
    position: relative;
}

.aboutMeContent h2{
    font-family: inter;
    font-size: clamp(20px, 1.28vw, 40px);
    font-weight: 600;
    width: 80%;
}

.aboutMeContent button {
    background: #F5693C;
    background: #1C1D20;
    border: none;
    font-family: inter;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 70px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.aboutMeContent button:hover {
    background: #4F6DFF;
}

@media (max-width: 768px) {

    .aboutMeContent h2{
        width: 98%;
        font-weight: 500;
        font-size: clamp(10px, 3.7vw, 20px);
    }

    .aboutMeContent button {
        width: 100px;
        height: 100px;
        font-size: 16px;
        right: 10px;
        top: 130px;
    }
}