.aboutHero {
    padding-top: 170px;
    width: 95%;
    margin: auto;
}

.aboutHeroHeading {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

.aboutHeroHeading h1 {
    font-family: inter;
    font-size: 98px;
    font-size: clamp(56px, 6vw, 98px);
    font-weight: 600;
    width: clamp(70%, 80%, 85%);
    padding-bottom: 15px;
}

.aboutHeroHeading h1 span {
    color: #5E5959;
}

.aboutHeroHeading p {
    width: 88%;
    line-height: 1.3;
    text-align: center;
    font-size: 20px;
    font-size: clamp(15px, 1.3vw, 22px);
    font-family: inter;
}

.aboutHeroImg {
  height: 650px;
  height: clamp(500px, 68vh, 700px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #999D9E;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.aboutHeroImg img {
  height: 100%;
  width: auto;
  z-index: 1;
  object-fit: contain;
}

.aboutHeroContentHeading h3 {
    width: 90%;
    font-family: inter;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
}

.aboutHeroContentEx {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

.aboutHeroContentLeft {
    width: 50%;
}

.aboutHeroContentLeft p {
    font-family: inter;
    font-size: 16px;
    color: #1E1E1E;
}

.aboutHeroContentRight {
    width: 50%;
}

.aboutHeroContentRight p {
    font-family: inter;
    font-size: 16px;
    color: #1E1E1E;
}

.aboutSkills {
    padding-top: 70px;
}

.aboutSkills h2 {
    font-family: inter;
    font-weight: 500;
    font-size: 50px;
    color: #1E1E1E;
    padding-bottom: 30px;
}

.aboutBox {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.aboutCard h5{
    font-family: inter;
    color: #999D9E;
    font-weight: 500;
    padding-bottom: 30px;
    position: relative;
}

.aboutCard h5::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 2px;
    background: #5E5959;
}

.aboutCard h4 {
    font-family: inter;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}

.aboutCard p {
    font-family: inter;
    font-size: 15px;
    color: #1E1E1E;
}

@media (max-width: 599px) {

    .aboutHero {
        padding-top: 140px;
    }
    .aboutHeroHeading h1 {
        font-size: clamp(20px, 11vw, 50px);
        width: 98%;
    }

    .aboutHeroHeading p {
        width: 94%;
        font-size: clamp(8px, 3.5vw, 18px);
    }

    .aboutHeroImg {
          height: clamp(300px, 55vh, 450px);
          margin-bottom: 20px;
    } 

    .aboutHeroContentHeading h3 {
        font-size: 21px;
        width: 95%;
    }

    .aboutHeroContentEx {
        gap: 15px;
    }

    .aboutHeroContentLeft p {
        font-size: 12px;
    }

    .aboutHeroContentRight p {
        font-size: 12px;
    }

    .aboutSkills h2 {
        font-size: 35px;
        padding-bottom: 70px;
    }

    .aboutBox {
        flex-direction: column;
        gap: 60px;
    }

    .aboutCard h5 {
        display: none;
    }

    .aboutCard h4 {
        font-size: 23px;
        font-weight: 400;
        position: relative;
    }

    .aboutCard h4::after {
        content: '';
        position: absolute;
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        width: 100%;
        height: 1px;
        background: #5E5959;
    }

    .aboutCard p {
        font-size: 13px;
    } 
    
}