.Loader {
  width: 100%;
  height: 100%;
  position: fixed;
  transform: translateY(0);
  left: 0;
  transition: 1s ease;
  overflow: hidden;
  z-index: 9999;
}

.hide {
    transform: translateY(-110%);
}

.same {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.same h1 {
    font-family: Inter, sans-serif;
    font-size: 250px;
    font-weight: 900;
    transition: all 0.8s ease;
}

@media (max-width: 599px) {
  .same h1 {
    font-size: 110px;
  }
}